.whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  width: 60px;
  height: 60px;
  /*background-color: #25D366;*/
  border-radius: 40%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
}

.whatsapp-float:hover {
  transform: scale(1.1);
}

.whatsapp-float img {
  width: 40px;
  height: 40px;
}
.whatsapp-float {
  position: fixed;
  bottom: 20px;
  left: 20px; /* 🔁 changed from right: 20px to left: 20px */
  z-index: 1000;
  width: 70px;
  height: 70px;
  /*background-color: #25D366;*/ 
  border-radius: 50%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s ease;
}
